.category-card-category-card {
  flex: 0 0 auto;
  width: 200px;
  cursor: pointer;
  height: 100px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}
.category-card-category-card:hover {
  color: var(--dl-color-pallet-yellow);
  transform: scale(1.2);
}
@media(max-width: 767px) {
  .category-card-category-card {
    width: 48%;
  }
}
@media(max-width: 479px) {
  .category-card-category-card {
    width: 100%;
  }
}
